<img class="logo" src="assets/sign-in/logo-no-background.png" alt="">
<div class="container">
<!-- <div class="logo">
        <img src="assets/sign_up.png" alt="">
    </div> -->

    <div class="form">

        <div class="left">
          <img src="assets/sign-in/sign_up.png"  class="img-thumbnail" alt="..."  style="width: 500px; margin-left: 3cm; margin-top: 5cm;">
        </div>
            <!-- <img src="assets/sign_up.png"  class="img-thumbnail" alt="..."  style="width: 500px; margin-left: 3cm; margin-top: 5cm;"> -->

        <div class="right">
            <form>
                <h3>Sign in</h3><br>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" >Email address</label>
                  <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <br>

                <button type="button" class="btn ">Next</button>

                <div class="row">
                  <div class="col">
                    <a href=""> <img src="assets/sign-in/Google.jpg" class="rounded-circle" alt="Logo HTML w3" ></a>
                  </div>
                  <div class="col">
                   <a href=""><img src="assets/sign-in/Facebook.png" class="rounded-circle" alt="Logo HTML w3" ></a>
                 </div>
                 <div class="col">
                  <a href=""><img src="assets/sign-in/Linkedin.png" class="rounded-circle" alt="Logo HTML w3"></a>
               </div>
                </div>

                <h5 >Need an account ? <a class="lienSignUp" routerLink="/beforesignup">Sign up</a></h5>
              </form>
        </div>
</div>




