.container{
  margin-top: -4cm;
}
.logo{
  width: 200px;
  background-color: #EAEEEF;
  margin: 1cm;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right{
  margin-top: 6cm;
  margin-right: 3cm;
}
.form-control{
  width: 10cm;
  border-color: black;
}

h3{
  text-align: center;
  margin-bottom: 30px;
  margin-top: -3cm;
  color: #4A9DC9;
}

.btn{
  color: white;
  background-color: #F18620;
  margin-left: 3cm;
  width: 5cm;
}
.mb-3{
  padding-bottom: 5px;
}

label{
  margin-bottom:20px ;
}
h5{
  text-align: center;
  margin-top: 20px;
  margin-left: 35px;
}
.rounded-circle{
  width: 1.5cm;
  height: 1.5cm;

}
.row{
  margin-left: 50px;
  margin-top: 20px;

}
.lienSignUp{
  text-decoration: underline;
  color: black;
}


.bg_color_palette_gris {
  background-color: #EAEEEF;
}
.btn_bg_color_palette_orange {
  background-color: #F18620;
  border:solid #F18620;
  color: #ffffff;

}
.btn_bg_color_palette_orange:hover {
  background-color: #ffffff;
  color: #F18620;
  border: solid #F18620;
}

.btn_bg_outline_color_palette_orange {
  background-color: #EAEEEF;
  border:solid #F18620;
  color: #F18620;
}
.btn_bg_outline_color_palette_orange:hover {
  background-color: #F18620;
  color: #EAEEEF;
  border: solid #EAEEEF;
}

.bg_color_palette_orange {
  background-color: #F18620;
}
.border_card_color_palette_orange {
  border: solid #F18620;
}
.text_color_palette_orange {
 color:#F18620 ;
}






.btn_bg_color_palette_dark_cyan {
  background-color: #4A9DC9;
  border:solid #4A9DC9;
  color: #ffffff;

}
.btn_bg_color_palette_dark_cyan:hover {
  background-color: #ffffff;
  color: #4A9DC9;
  border: solid #4A9DC9;
}

.btn_bg_outline_color_palette_dark_cyan {
  background-color: #EAEEEF;
  border:solid #4A9DC9;
  color: #4A9DC9;
}
.btn_bg_outline_color_dark_cyan:hover {
  background-color: #4A9DC9;
  color: #EAEEEF;
  border: solid #EAEEEF;
}

.bg_color_palette_dark_cyan {
  background-color: #4A9DC9;
}
.border_card_color_palette_dark_cyan {
  border: solid #4A9DC9;
}
.text_color_palette_dark_cyan {
 color:#4A9DC9 ;
}







.bg_color_palette_light_orange {
  background-color: #f6ce97;
}
.border_card_color_palette_light_orange {
  border: solid #f6ce97;
}



.bg_color_palette_light_peach {
  background-color: #eee3d0;
}

.bg_color_palette_light_blue {
  background-color: #d6e9f0;
}

.btn_bg_outline_color_palette_orange_blue {
  background-color: #d6e9f0;
  border:solid #F18620;
  color: #F18620;
}
.btn_bg_outline_color_palette_orange_blue:hover {
  background-color: #F18620;
  color: #d6e9f0;
  border: solid #d6e9f0;
}
.hr_orange{border: 2px solid #F18620;
            margin-top: 20px;
            margin-bottom: 20px;
          margin-left: 30px;
        margin-right:30px ;}
        .bg_color_palette_footer {
          background-color: #404A59;
        }
