<div class="bg_color_palette_gris p-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 rounded-0">
          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">NOM PRENOM</h5>

            <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Et necessitatibus eos rerum beatae consequuntur
              provident aperiam ipsa mollitia, adipisci quia. Iusto veritatis
              incidunt eaque quod cumque ut aliquam facere consequatur.</p>

          </div>

          <div class="d-grid gap-2">
            <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
              type="button">Contact</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">

          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">NOM PRENOM</h5>

            <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Et necessitatibus eos rerum beatae consequuntur
              provident aperiam ipsa mollitia, adipisci quia. Iusto veritatis
              incidunt eaque quod cumque ut aliquam facere consequatur.</p>

          </div>

          <div class="d-grid gap-2">
            <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
              type="button">Contact</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">

          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">NOM PRENOM</h5>

            <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Et necessitatibus eos rerum beatae consequuntur
              provident aperiam ipsa mollitia, adipisci quia. Iusto veritatis
              incidunt eaque quod cumque ut aliquam facere consequatur.</p>

          </div>

          <div class="d-grid gap-2">
            <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
              type="button">Contact</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
      <div class="col">
        <div class="card h-100 rounded-0">

          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">NOM PRENOM</h5>

            <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Et necessitatibus eos rerum beatae consequuntur
              provident aperiam ipsa mollitia, adipisci quia. Iusto veritatis
              incidunt eaque quod cumque ut aliquam facere consequatur.</p>

          </div>

          <div class="d-grid gap-2">
            <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
              type="button">Contact</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">

          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">NOM PRENOM</h5>

            <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Et necessitatibus eos rerum beatae consequuntur
              provident aperiam ipsa mollitia, adipisci quia. Iusto veritatis
              incidunt eaque quod cumque ut aliquam facere consequatur.</p>

          </div>

          <div class="d-grid gap-2">
            <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
              type="button">Contact</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">

          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">NOM PRENOM</h5>

            <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Et necessitatibus eos rerum beatae consequuntur
              provident aperiam ipsa mollitia, adipisci quia. Iusto veritatis
              incidunt eaque quod cumque ut aliquam facere consequatur.</p>

          </div>

          <div class="d-grid gap-2">
            <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
              type="button">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
