
<img class="logo" src="assets/sign-in/logo-no-background.png" alt="">

<div class="container">


        <div class="form">

            <div class="left">
              <img src="assets/sign-in/sign_up.png"  class="img-thumbnail" alt="..."  style="width: 500px; margin-left: 3cm; margin-top: 5cm;">
            </div>

            <div class="right">
                <h3 class="title">Sign up to find work you love </h3><br>
                <form>

                    <div class="row mb-3">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                          <input type="date" class="form-control" >
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Number">
                        </div>
                    </div>

                    <div class="mb-3">
                      <!-- <label for="exampleInputEmail1" class="form-label" >Email address</label> -->
                      <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="mb-3">
                      <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <br>

                    <button type="button" class="btn ">Next</button>

                    <h5 >Already have an account ? <a class="lienSignUp" routerLink="/signin">Log in</a></h5>
                  </form>
            </div>
    </div>
