<div class="bg_color_palette_gris">
  <nav class="navbar navbar-expand-lg fw-bold bg_color_palette_gris">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" routerLink="/companyconnect">
        <img src="../../assets/home/logo.png" alt="Logo" height="75px">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              routerLink="/companyconnect">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              routerLink="/offerscompany">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/freelancercc">Freelancers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addoffercompany">Add offer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favoritefreelancers">Favorite
              list</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 me-3">
          <div class="input-group border_card_color_palette_dark_cyan ">
            <input class="form-control" type="search" placeholder="Rechercher"
              aria-label="Search">
            <div class="input-group-append">
              <button
                class="btn btn_bg_outline_color_palette_dark_cyan rounded-0 "
                type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </form>
        <button type="button"
          class="btn_bg_outline_color_palette_orange m-3"
          routerLink="/companyprofil">Companny X</button>
        <img src="../../assets/home/logo.png" alt="Logo" height="50px">
      </div>
    </div>
  </nav>
  <hr>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let freelancer of freelancers">
        <div class="card h-100 rounded-0">
          <div class="row justify-content-end mt-2">
            <div class="col-2">
              <button type="button"
                class="btn btn-outline-danger rounded-5 align-end"><i
                  class="bi bi-heart-fill"></i>
              </button>
            </div>
          </div>
          <div class="card-body text-center">
            <img src="../../assets/freelancer_connect/avatar.png"
              class="rounded-circle" alt="..." width="200px">
            <h5 class="card-title m-3">{{ freelancer.first_name }} {{
              freelancer.last_name }}</h5>
            <div class="container text-center mt-3">
              <div class="row">
                <div class="col" *ngFor="let skill of freelancer.skills"><span
                    class="badge rounded-pill text-bg-primary">{{ skill
                    }}</span></div>
              </div>
              <p class="mt-3 mb-3">{{ freelancer.bio }}</p>
            </div>
          </div>
            <div class="d-grid gap-2">
              <button class="btn btn_bg_color_palette_dark_cyan rounded-0"
                routerLink="/profilfrc">View profile</button>
            </div>

        </div>
      </div>
    </div>
  </div>
  <footer class="text-body-secondary mt-5 py-5 bg_color_palette_footer mb-0 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">

          <img src="../../assets/home/logo_foot.png" alt="Logo" height="75px">
          <br>
          <a class="navbar-brand ms-3" routerLink="/home"><p
              class="text-decoration-underline text-light">More informations</p>
          </a>
          <p class="text-light">Designed and built with all the love in the
            world by the HireHub
            team with the help of our contributors.</p>
        </div>
        <div class="col">
        </div>
        <div class="col">
          <h3 class="text-light ">
            <p>Follow us</p>
            <i class="bi bi-instagram m-2"></i>
            <i class="bi bi-facebook m-2"></i>
            <i class="bi bi-twitter-x m-2"></i>
          </h3>
        </div>
      </div>
      <hr class="text-light">
      <p class="text-center text-light">
        2023-20024 HireHub® Global Inc.
      </p>
    </div>
  </footer>
</div>
