<div class="bg_color_palette_gris">
  <div class="card mt-0 mb-0 m-5 border-0 bg_color_palette_gris p-5">
    <div class="row g-0 justify-content-end">
      <div class="col-md-auto ">
        <figure class="figure justify-content-end">
          <img src="../../assets/home/logo.png" class="float-end" alt="Logo"
            height="150px">
        </figure>
      </div>

      <div class="col-md-7 bg_color_palette_gris">
        <div class="card-body">
          <h1>company name</h1>
          <h3>user@@gmail.com</h3>
          <h4>+216 12 457 845</h4>
          <h4>www.company.com</h4>
          <p>adress 7000 bizerte</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
            voluptates laborum, ducimus nesciunt animi in inventore praesentium
            et consequatur esse ut adipisci similique molestias saepe deleniti
            quasi ipsam numquam qui!</p>

        </div>
      </div>

    </div>
  </div>


  <div class=" bg_color_palette_dark_cyan">
    <div class="card container p-5 pt-3 border-0 bg_color_palette_dark_cyan">
      <h2 class="text-center">project undone</h2>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0 mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Card
                title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-body-secondary mt-5 py-5 bg_color_palette_footer mb-0 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">

          <img src="../../assets/home/logo_foot.png" alt="Logo" height="75px">
          <br>
          <a class="navbar-brand ms-3" routerLink="/home"><p
              class="text-decoration-underline text-light">More informations</p>
          </a>
          <p class="text-light">Designed and built with all the love in the
            world by the HireHub
            team with the help of our contributors.</p>
        </div>
        <div class="col">
        </div>
        <div class="col">
          <h3 class="text-light ">
            <p>Follow us</p>
            <i class="bi bi-instagram m-2"></i>
            <i class="bi bi-facebook m-2"></i>
            <i class="bi bi-twitter-x m-2"></i>
          </h3>
        </div>
      </div>
      <hr class="text-light">
      <p class="text-center text-light">
        2023-20024 HireHub® Global Inc.
      </p>
    </div>
  </footer>
</div>
