<img class="logo" src="assets/sign-in/logo-no-background.png" alt="" />


<div class="container mt-0">
<div class="card">
  <div class="card-body mt-0">
    <h1 class="mt-1">Start living your work dream</h1>
    <div class="row">
      <div class="col">
        <h3 class="first">I'am a company, </h3>
        <h3>hiring for a project</h3>
        <div class="card p-5" >
           <a routerLink="/signupcompany"> <img  src="assets/before-signup/image1.png" alt="" height="250px" width="auto" /></a>
        </div>
      </div>
      <div class="col">
        <h3 class="first">I'am a freelancer, </h3>
        <h3>looking for work</h3>
        <div class="card p-5">
           <a href="signupfreelancer"><img  src="assets/before-signup/image2.png" alt=""  height="250px" width="auto"/></a>
        </div>
      </div>
    </div>
  </div>
  <h6 >Already have an account ? <a class="lienSignUp" routerLink="/signin">Log in</a></h6>
  </div>
</div>
