<div class="bg_color_palette_gris">
  <nav class="navbar navbar-expand-lg fw-bold bg_color_palette_gris">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="#">
        <img src="../../assets/home/logo.png" alt="Logo" height="75px">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 me-3">
          <div class="input-group border_card_color_palette_dark_cyan ">
            <input class="form-control" type="search" placeholder="Rechercher"
              aria-label="Search">
            <div class="input-group-append">
              <button
                class="btn btn_bg_outline_color_palette_dark_cyan rounded-0 "
                type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </form>
        <button type="button"
          class="btn btn_bg_outline_color_palette_orange m-3" routerLink="/signin" >sign in</button>
        <button type="button" class="btn btn_bg_color_palette_orange me-3" routerLink="/beforesignup">sign up</button>
      </div>
    </div>
  </nav>
  <hr>

  <div class="card mt-0 mb-0 m-5 border-0">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="../../assets/home/pageH1.png" class="img-fluid" alt="...">
      </div>
      <div class="col-md-7 bg_color_palette_gris">
        <div class="card-body">
          <h1 class="text_color_palette_dark_cyan">Forget Rules</h1>
          <h1 class="text_color_palette_dark_cyan">Create Freedom</h1>
          <p>Unlock Your Freelance Potential
            exclusive network of the top freelance software developers,
            designers, finance experts, product managers,
            and project managers in the world.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-0 pt-0 p-5 ">
    <div class="card-group ms-5 me-5 ">
      <div class="card border-0">
        <img src="../../assets/home/list1.png" class="card-img-top" alt="...">
        <div class="card-body bg_color_palette_gris">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below
            as
            a natural lead-in to additional content. This content is a little
            bit
            longer.</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="../../assets/home/list2.png" class="card-img-top" alt="...">
        <div class="card-body bg_color_palette_gris">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural
            lead-in to additional content.</p>
        </div>
      </div>
      <div class="card border-0">
        <img src="../../assets/home/list3.png" class="card-img-top" alt="...">
        <div class="card-body bg_color_palette_gris">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below
            as
            a natural lead-in to additional content. This card has even longer
            content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>

  <div class=" bg_color_palette_light_orange">
    <div class="card container p-5 pt-3 border-0 bg_color_palette_light_orange">
      <h2 class="text-center text_color_palette_dark_cyan">Categories</h2>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0 mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Development & IT</h5>
              <p class="card-text">Creating and improving software or applications</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">AI Services</h5>
              <p class="card-text">Automated tasks using intelligent computer systems</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Design & Creative</h5>
              <p class="card-text">Innovative problem-solving with aesthetic expression</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Sales & Marketing</h5>
              <p class="card-text">Promoting and selling products or services to customers</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Writing & Translation</h5>
              <p class="card-text">Expressing ideas; Conveying meaning across languages</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Admin & Customer Support</h5>
              <p class="card-text">Assisting and resolving customer inquiries and issues</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Finance & Accounting</h5>
              <p class="card-text">Finance manages, accounting tracks financial transactions</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg_color_palette_light_peach border-0  mt-4">
            <div class="card-body">
              <h5 class="card-title text_color_palette_dark_cyan">Engineering & Architecture</h5>
              <p class="card-text">Designing and planning functional, aesthetic structures</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-0 mb-0 m-5 border-0 bg_color_palette_gris">
    <div class="row g-0">

      <div class="col-md-7">
        <div class="card-body">
          <h1 class="text_color_palette_dark_cyan">Forget Rules</h1>
          <p>Unlock Your Freelance Potential
            exclusive network of the top freelance software developers,
            designers, finance experts, product managers,
            and project managers in the world.</p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="../../assets/home/pageH2.png" class="img-fluid" alt="...">
      </div>
    </div>
  </div>

  <hr class="hr_orange">

  <div class="card mt-0 mb-0 m-5 border-0 bg_color_palette_gris">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="../../assets/home/pageH3.png" class="img-fluid" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h1 class="text_color_palette_dark_cyan">Forget Rules</h1>
          <p>Unlock Your Freelance Potential
            exclusive network of the top freelance software developers,
            designers, finance experts, product managers,
            and project managers in the world.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card container mb-3 bg_color_palette_light_blue border-0">
    <div class="row g-0">

      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below
            as
            a natural lead-in to additional content. This content is a little
            bit
            longer.</p>
          <button type="button"
            class="btn btn_bg_outline_color_palette_orange_blue">Light</button>
        </div>
      </div>
      <div class="col-md-2">
        <img src="../../assets/home/palestine.png"
          class="img-fluid rounded-start"
          alt="...">
      </div>
    </div>
  </div>

  <footer class="text-body-secondary mt-5 py-5 bg_color_palette_footer mb-0 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">

          <img src="../../assets/home/logo_foot.png" alt="Logo" height="75px">
          <br>
          <a class="navbar-brand ms-3" routerLink="/home"><p class="text-decoration-underline text-light">More informations</p>
          </a>
          <p class="text-light">Designed and built with all the love in the
            world by the HireHub
            team with the help of our contributors.</p>
        </div>
        <div class="col">
        </div>
        <div class="col">
          <h3 class="text-light ">
            <p>Follow us</p>
            <i class="bi bi-instagram m-2"></i>
            <i class="bi bi-facebook m-2"></i>
            <i class="bi bi-twitter-x m-2"></i>
          </h3>
        </div>
      </div>
      <hr class="text-light">
     <p class="text-center text-light">
      2023-20024 HireHub® Global Inc.
     </p>
    </div>
  </footer>
</div>
